In [1]:
import pandas as pd
import numpy as np

In [2]:
fed_fund_rate = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/fed_fund_rate_quarterly.csv')

In [3]:
fed_fund_rate

     quarter  fed_fund_rate
0    Q4-1979      13.649333
1    Q1-1980      15.065275
2    Q2-1980      12.668901
3    Q3-1980       9.823152
4    Q4-1980      15.852826
..       ...            ...
177  Q1-2024       5.330000
178  Q2-2024       5.330000
179  Q3-2024       5.264783
180  Q4-2024       4.647935
181  Q1-2025       4.330000

[182 rows x 2 columns]

In [4]:
gdp_qoq_change = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/gdp_qoq_change_quarterly.csv')

In [5]:
gdp_qoq_change

     quarter  gdp_percentage_change_prev_q
0    Q2-1947                           4.7
1    Q3-1947                           6.0
2    Q4-1947                          17.3
3    Q1-1948                           9.6
4    Q2-1948                          10.7
..       ...                           ...
305  Q3-2023                           7.7
306  Q4-2023                           4.8
307  Q1-2024                           4.7
308  Q2-2024                           5.6
309  Q3-2024                           5.0

[310 rows x 2 columns]

In [6]:
merged_1 = pd.merge(gdp_qoq_change,fed_fund_rate, on = 'quarter')

In [7]:
merged_1

     quarter  gdp_percentage_change_prev_q  fed_fund_rate
0    Q4-1979                           8.7      13.649333
1    Q1-1980                          10.0      15.065275
2    Q2-1980                           1.1      12.668901
3    Q3-1980                           8.7       9.823152
4    Q4-1980                          19.3      15.852826
..       ...                           ...            ...
175  Q3-2023                           7.7       5.259239
176  Q4-2023                           4.8       5.330000
177  Q1-2024                           4.7       5.330000
178  Q2-2024                           5.6       5.330000
179  Q3-2024                           5.0       5.264783

[180 rows x 3 columns]

Preparing and merging gov_effectiveness_perc_rank

In [8]:
gov_effectiveness_perc_rank = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/gov_effectiveness_perc_rank.csv')

In [9]:
gov_effectiveness_perc_rank

      Country Name             Value  quarter
0    United States                ..  Q1-1974
1    United States                ..  Q2-1974
2    United States                ..  Q3-1974
3    United States                ..  Q4-1974
4    United States                ..  Q1-1975
..             ...               ...      ...
195  United States  87.2641525268555  Q4-2022
196  United States  87.7358474731445  Q1-2023
197  United States  87.7358474731445  Q2-2023
198  United States  87.7358474731445  Q3-2023
199  United States  87.7358474731445  Q4-2023

[200 rows x 3 columns]

In [10]:
gov_effectiveness_perc_rank.rename(columns = {'Value':'gov_effectiveness_perc_rank'}, inplace = True)

In [11]:
merged_1 = pd.merge(merged_1,gov_effectiveness_perc_rank, on = 'quarter')

In [12]:
merged_1.drop(columns = 'Country Name', inplace = True)

prepparing monthly_fed_balance and PCECTPI

In [13]:
monthly_fed_balance = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/monthly_fed_balance.csv')

In [14]:
PCECTPI = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/PCECTPI_quarterly.csv')

In [15]:
monthly_fed_balance

    observation_date    MTSDS133FMS
0         1980-10-01  -16921.000000
1         1980-11-01   -8907.000000
2         1980-12-01   -1965.000000
3         1981-01-01  -12192.000000
4         1981-02-01  -15620.000000
..               ...            ...
525       2024-07-01 -243741.087297
526       2024-08-01 -380080.405435
527       2024-09-01   64263.008868
528       2024-10-01 -257450.343192
529       2024-11-01 -366763.064368

[530 rows x 2 columns]

In [16]:
monthly_fed_balance['date'] = pd.to_datetime(monthly_fed_balance['observation_date'])

In [17]:
monthly_fed_balance

    observation_date    MTSDS133FMS       date
0         1980-10-01  -16921.000000 1980-10-01
1         1980-11-01   -8907.000000 1980-11-01
2         1980-12-01   -1965.000000 1980-12-01
3         1981-01-01  -12192.000000 1981-01-01
4         1981-02-01  -15620.000000 1981-02-01
..               ...            ...        ...
525       2024-07-01 -243741.087297 2024-07-01
526       2024-08-01 -380080.405435 2024-08-01
527       2024-09-01   64263.008868 2024-09-01
528       2024-10-01 -257450.343192 2024-10-01
529       2024-11-01 -366763.064368 2024-11-01

[530 rows x 3 columns]

In [18]:
import pandas as pd

# Ensure 'date' column is in datetime format
monthly_fed_balance['date'] = pd.to_datetime(monthly_fed_balance['date'])

# Create a 'quarter' column in the format 'QX-YYYY'
monthly_fed_balance['quarter'] = 'Q' + monthly_fed_balance['date'].dt.quarter.astype(str) + '-' + monthly_fed_balance['date'].dt.year.astype(str)

In [19]:
quarterly_fed_balance = monthly_fed_balance.groupby('quarter', as_index=False)['MTSDS133FMS'].mean()

In [20]:
quarterly_fed_balance.rename(columns = {'MTSDS133FMS':'quarterly_fed_balance'}, inplace = True)

In [21]:
quarterly_fed_balance

     quarter  quarterly_fed_balance
0    Q1-1981          -12464.666667
1    Q1-1982           -7898.666667
2    Q1-1983          -20318.000000
3    Q1-1984          -18150.333333
4    Q1-1985          -19515.666667
..       ...                    ...
172  Q4-2020         -190966.376047
173  Q4-2021         -125897.845627
174  Q4-2022         -140444.484514
175  Q4-2023         -169980.322779
176  Q4-2024         -312106.703780

[177 rows x 2 columns]

In [22]:
PCECTPI

     quarter  PCECTPI
0    Q1-1947   11.557
1    Q2-1947   11.649
2    Q3-1947   11.866
3    Q4-1947   12.162
4    Q1-1948   12.297
..       ...      ...
306  Q3-2023  120.983
307  Q4-2023  121.480
308  Q1-2024  122.507
309  Q2-2024  123.275
310  Q3-2024  123.747

[311 rows x 2 columns]

In [23]:
merged_1 = pd.merge(merged_1,PCECTPI, on = 'quarter')

In [24]:
merged_1

,quarter,gdp_percentage_change_prev_q,fed_fund_rate,gov_effectiveness_perc_rank,PCECTPI
0,Q4-1979,8.7,13.649333,..,36.451
1,Q1-1980,10.0,15.065275,..,37.545
2,Q2-1980,1.1,12.668901,..,38.464
3,Q3-1980,8.7,9.823152,..,39.364
4,Q4-1980,19.3,15.852826,..,40.338
...,...,...,...,...,...
172,Q4-2022,7.2,3.653370,87.2641525268555,118.172
173,Q1-2023,6.6,4.514556,87.7358474731445,119.320
174,Q2-2023,4.3,4.988132,87.7358474731445,120.182
175,Q3-2023,7.7,5.259239,87.7358474731445,120.983
176,Q4-2023,4.8,5.330000,87.7358474731445,121.480

In [25]:
merged_1 = pd.merge(merged_1,quarterly_fed_balance, on = 'quarter')

In [26]:
merged_1

,quarter,gdp_percentage_change_prev_q,fed_fund_rate,gov_effectiveness_perc_rank,PCECTPI,quarterly_fed_balance
0,Q4-1980,19.3,15.852826,..,40.338,-9264.333333
1,Q1-1981,19.9,16.595556,..,41.384,-12464.666667
2,Q2-1981,5.0,17.786923,..,42.078,5460.666667
3,Q3-1981,13.0,17.594348,..,42.772,-3042.333333
4,Q4-1981,2.5,13.588370,..,43.427,-16071.666667
...,...,...,...,...,...,...
168,Q4-2022,7.2,3.653370,87.2641525268555,118.172,-140444.484514
169,Q1-2023,6.6,4.514556,87.7358474731445,119.320,-226431.310502
170,Q2-2023,4.3,4.988132,87.7358474731445,120.182,-97311.953949
171,Q3-2023,7.7,5.259239,87.7358474731445,120.983,-100836.241845
172,Q4-2023,4.8,5.330000,87.7358474731445,121.480,-169980.322779

In [27]:
political_stability = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/Political_Stability_USA.csv')
producer_price_index = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/producer_price_index_quarterly.csv')
target_us = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/target_us.csv')

Preparing for merge

In [28]:
political_stability.rename(columns= {'Value' : 'political_stability_perc_rank'}, inplace = True)

In [29]:
political_stability.drop(columns = 'Country Name', inplace = True)

In [30]:
target_us.drop(columns = 'Unnamed: 0', inplace = True)

In [31]:
target_us.rename(columns= {'Quarter' : 'quarter'}, inplace = True)

In [32]:
merged_1 = pd.merge(merged_1,target_us, on = 'quarter')

In [33]:
merged_1 = pd.merge(merged_1,political_stability, on = 'quarter')

In [34]:
merged_1

,quarter,gdp_percentage_change_prev_q,fed_fund_rate,gov_effectiveness_perc_rank,PCECTPI,quarterly_fed_balance,Bond Rating,political_stability_perc_rank
0,Q1-2000,4.2,5.677692,91.8032760620117,73.219,-4987.333333,AA,82.539680480957
1,Q2-2000,10.2,6.271978,91.8032760620117,73.568,70591.333333,AA,82.539680480957
2,Q3-2000,2.8,6.519457,91.8032760620117,74.042,20127.000000,AA,82.539680480957
3,Q4-2000,4.6,6.474891,91.8032760620117,74.460,-781.666667,AA,82.539680480957
4,Q1-2001,1.3,5.597000,..,75.012,-7483.666667,AA,..
...,...,...,...,...,...,...,...,...
91,Q4-2022,7.2,3.653370,87.2641525268555,118.172,-140444.484514,BBB,46.2264137268066
92,Q1-2023,6.6,4.514556,87.7358474731445,119.320,-226431.310502,BBB,47.3933639526367
93,Q2-2023,4.3,4.988132,87.7358474731445,120.182,-97311.953949,AAA,47.3933639526367
94,Q3-2023,7.7,5.259239,87.7358474731445,120.983,-100836.241845,AAA,47.3933639526367
95,Q4-2023,4.8,5.330000,87.7358474731445,121.480,-169980.322779,AAA,47.3933639526367

In [35]:
merged_1 = pd.merge(merged_1,producer_price_index, on = 'quarter')

preparing last three CSV

In [36]:
tax_rev_perc_gdp = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/tax_rev_perc_gdp.csv')
unemployment_cost_index = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/unemployment_cost_index_quarterly.csv')
unemployment_rate = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/unemployment_rate_quarterly.csv')

Preparing df for merge

In [37]:
tax_rev_perc_gdp.rename(columns = {'Value': "tax_rev_perc_gdp"}, inplace = True)

In [38]:
tax_rev_perc_gdp.drop(columns = 'Country Name', inplace = True)

In [39]:
merged_1 = pd.merge(merged_1,tax_rev_perc_gdp, on = 'quarter')

In [40]:
merged_1 = pd.merge(merged_1,unemployment_cost_index, on = 'quarter')

In [41]:
merged_1 = pd.merge(merged_1,unemployment_rate, on = 'quarter')

In [42]:
merged_1

,quarter,gdp_percentage_change_prev_q,fed_fund_rate,gov_effectiveness_perc_rank,PCECTPI,quarterly_fed_balance,Bond Rating,political_stability_perc_rank,producer_price,tax_rev_perc_gdp,employment_cost,unemployment_rate
0,Q1-2001,1.3,5.597000,..,75.012,-7483.666667,AA,..,137.766667,11.857705,84.7,4.233333
1,Q2-2001,5.0,4.326703,..,75.363,64579.666667,A,..,136.233333,11.857705,85.5,4.400000
2,Q3-2001,0.0,3.501522,..,75.401,-13889.666667,A,..,133.366667,11.857705,86.4,4.833333
3,Q4-2001,2.4,2.130435,..,75.432,-11785.333333,A,..,129.400000,11.857705,87.2,5.500000
4,Q1-2002,4.7,1.732889,89.7297286987305,75.584,-32188.333333,A,53.9682540893555,128.900000,9.868017,87.9,5.700000
...,...,...,...,...,...,...,...,...,...,...,...,...
87,Q4-2022,7.2,3.653370,87.2641525268555,118.172,-140444.484514,BBB,46.2264137268066,262.038333,12.054833,155.6,3.566667
88,Q1-2023,6.6,4.514556,87.7358474731445,119.320,-226431.310502,BBB,47.3933639526367,258.652667,10.223807,157.4,3.533333
89,Q2-2023,4.3,4.988132,87.7358474731445,120.182,-97311.953949,AAA,47.3933639526367,254.812667,10.223807,159.0,3.533333
90,Q3-2023,7.7,5.259239,87.7358474731445,120.983,-100836.241845,AAA,47.3933639526367,256.816333,10.223807,160.6,3.666667
91,Q4-2023,4.8,5.330000,87.7358474731445,121.480,-169980.322779,AAA,47.3933639526367,252.638000,10.223807,162.1,3.800000

In [43]:
Federal_Debt_FED_perc_gdp = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/Federal_Debt_FED_perc_gdp.csv')
federal_debt_foreign_investors = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/federal_debt_foreign_investors.csv')
federal_debt_private_investors_perc_gdp = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/federal_debt_private_investors_perc_gdp.csv')

In [44]:
federal_debt_foreign_investors.drop(columns = 'Unnamed: 0', inplace =True)

In [45]:
federal_debt_private_investors_perc_gdp.drop(columns = 'Unnamed: 0', inplace =True)

In [46]:
Federal_Debt_FED_perc_gdp

     Unnamed: 0  Federal_Debt_FED_perc_GDP  quarter
0             0                    5.30822  Q1-1970
1             1                    5.40579  Q2-1970
2             2                    5.52456  Q3-1970
3             3                    5.70453  Q4-1970
4             4                    5.65561  Q1-1971
..          ...                        ...      ...
214         214                   19.13765  Q3-2023
215         215                   18.51413  Q4-2023
216         216                   17.43728  Q1-2024
217         217                   16.58989  Q2-2024
218         218                   16.04762  Q3-2024

[219 rows x 3 columns]

In [47]:
merged_1 = pd.merge(merged_1,Federal_Debt_FED_perc_gdp, on = 'quarter')

In [48]:
merged_1.drop(columns = 'Unnamed: 0', inplace =True)

In [49]:
merged_1 = pd.merge(merged_1,federal_debt_foreign_investors, on = 'quarter')

In [50]:
merged_1 = pd.merge(merged_1,federal_debt_private_investors_perc_gdp, on = 'quarter')

In [51]:
merged_1

,quarter,gdp_percentage_change_prev_q,fed_fund_rate,gov_effectiveness_perc_rank,PCECTPI,quarterly_fed_balance,Bond Rating,political_stability_perc_rank,producer_price,tax_rev_perc_gdp,employment_cost,unemployment_rate,Federal_Debt_FED_perc_GDP,federal_debt_foreign_investors,federal_debt_private_investors_perc_gdp
0,Q1-2001,1.3,5.597000,..,75.012,-7483.666667,AA,..,137.766667,11.857705,84.7,4.233333,5.00371,1012.5,27.62881
1,Q2-2001,5.0,4.326703,..,75.363,64579.666667,A,..,136.233333,11.857705,85.5,4.400000,5.04859,983.3,25.68733
2,Q3-2001,0.0,3.501522,..,75.401,-13889.666667,A,..,133.366667,11.857705,86.4,4.833333,5.03962,992.2,26.22848
3,Q4-2001,2.4,2.130435,..,75.432,-11785.333333,A,..,129.400000,11.857705,87.2,5.500000,5.17520,1040.1,26.44819
4,Q1-2002,4.7,1.732889,89.7297286987305,75.584,-32188.333333,A,53.9682540893555,128.900000,9.868017,87.9,5.700000,5.33593,1057.2,26.42185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,Q4-2022,7.2,3.653370,87.2641525268555,118.172,-140444.484514,BBB,46.2264137268066,262.038333,12.054833,155.6,3.566667,22.23615,7197.8,71.13901
88,Q1-2023,6.6,4.514556,87.7358474731445,119.320,-226431.310502,BBB,47.3933639526367,258.652667,10.223807,157.4,3.533333,21.03215,7471.4,71.46791
89,Q2-2023,4.3,4.988132,87.7358474731445,120.182,-97311.953949,AAA,47.3933639526367,254.812667,10.223807,159.0,3.533333,20.11552,7559.0,74.14416
90,Q3-2023,7.7,5.259239,87.7358474731445,120.983,-100836.241845,AAA,47.3933639526367,256.816333,10.223807,160.6,3.666667,19.13765,7515.1,76.43604
91,Q4-2023,4.8,5.330000,87.7358474731445,121.480,-169980.322779,AAA,47.3933639526367,252.638000,10.223807,162.1,3.800000,18.51413,7944.4,78.28896

In [58]:
merged_1.rename(columns = {'Federal_Debt_FED_perc_GDP' : 'federal_debt_FED_perc_gdp'}, inplace =True)

In [59]:
merged_1

,quarter,gdp_percentage_change_prev_q,fed_fund_rate,gov_effectiveness_perc_rank,PCECTPI,quarterly_fed_balance,Bond Rating,political_stability_perc_rank,producer_price,tax_rev_perc_gdp,employment_cost,unemployment_rate,federal_debt_FED_perc_gdp,federal_debt_foreign_investors,federal_debt_private_investors_perc_gdp
0,Q1-2001,1.3,5.597000,..,75.012,-7483.666667,AA,..,137.766667,11.857705,84.7,4.233333,5.00371,1012.5,27.62881
1,Q2-2001,5.0,4.326703,..,75.363,64579.666667,A,..,136.233333,11.857705,85.5,4.400000,5.04859,983.3,25.68733
2,Q3-2001,0.0,3.501522,..,75.401,-13889.666667,A,..,133.366667,11.857705,86.4,4.833333,5.03962,992.2,26.22848
3,Q4-2001,2.4,2.130435,..,75.432,-11785.333333,A,..,129.400000,11.857705,87.2,5.500000,5.17520,1040.1,26.44819
4,Q1-2002,4.7,1.732889,89.7297286987305,75.584,-32188.333333,A,53.9682540893555,128.900000,9.868017,87.9,5.700000,5.33593,1057.2,26.42185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,Q4-2022,7.2,3.653370,87.2641525268555,118.172,-140444.484514,BBB,46.2264137268066,262.038333,12.054833,155.6,3.566667,22.23615,7197.8,71.13901
88,Q1-2023,6.6,4.514556,87.7358474731445,119.320,-226431.310502,BBB,47.3933639526367,258.652667,10.223807,157.4,3.533333,21.03215,7471.4,71.46791
89,Q2-2023,4.3,4.988132,87.7358474731445,120.182,-97311.953949,AAA,47.3933639526367,254.812667,10.223807,159.0,3.533333,20.11552,7559.0,74.14416
90,Q3-2023,7.7,5.259239,87.7358474731445,120.983,-100836.241845,AAA,47.3933639526367,256.816333,10.223807,160.6,3.666667,19.13765,7515.1,76.43604
91,Q4-2023,4.8,5.330000,87.7358474731445,121.480,-169980.322779,AAA,47.3933639526367,252.638000,10.223807,162.1,3.800000,18.51413,7944.4,78.28896

In [60]:
merged_1.to_csv('merged_us')