In [2]:
import pandas as pd
import numpy as np

In [3]:
fed_fund_rate = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/fed_fund_rate_quarterly.csv')

In [6]:
fed_fund_rate

     quarter  fed_fund_rate
0    Q4-1979      13.649333
1    Q1-1980      15.065275
2    Q2-1980      12.668901
3    Q3-1980       9.823152
4    Q4-1980      15.852826
..       ...            ...
177  Q1-2024       5.330000
178  Q2-2024       5.330000
179  Q3-2024       5.264783
180  Q4-2024       4.647935
181  Q1-2025       4.330000

[182 rows x 2 columns]

In [ ]:
gdp_qoq_change = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/gdp_qoq_change_quarterly.csv')

In [8]:
gdp_qoq_change

     quarter  gdp_percentage_change_prev_q
0    Q2-1947                           4.7
1    Q3-1947                           6.0
2    Q4-1947                          17.3
3    Q1-1948                           9.6
4    Q2-1948                          10.7
..       ...                           ...
305  Q3-2023                           7.7
306  Q4-2023                           4.8
307  Q1-2024                           4.7
308  Q2-2024                           5.6
309  Q3-2024                           5.0

[310 rows x 2 columns]

In [11]:
merged_1 = pd.merge(gdp_qoq_change,fed_fund_rate, on = 'quarter')

In [12]:
merged_1

     quarter  gdp_percentage_change_prev_q  fed_fund_rate
0    Q4-1979                           8.7      13.649333
1    Q1-1980                          10.0      15.065275
2    Q2-1980                           1.1      12.668901
3    Q3-1980                           8.7       9.823152
4    Q4-1980                          19.3      15.852826
..       ...                           ...            ...
175  Q3-2023                           7.7       5.259239
176  Q4-2023                           4.8       5.330000
177  Q1-2024                           4.7       5.330000
178  Q2-2024                           5.6       5.330000
179  Q3-2024                           5.0       5.264783

[180 rows x 3 columns]

In [13]:
gov_effectiveness_perc_rank = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/gov_effectiveness_perc_rank.csv')

In [15]:
gov_effectiveness_perc_rank.rename(columns = {'Value':'gov_effectiveness_perc_rank'}, inplace = True)

In [17]:
merged_1 = pd.merge(merged_1,gov_effectiveness_perc_rank, on = 'quarter')

In [19]:
merged_1.drop(columns = 'Country Name', inplace = True)

In [20]:
merged_1

,quarter,gdp_percentage_change_prev_q,fed_fund_rate,gov_effectiveness_perc_rank
0,Q4-1979,8.7,13.649333,..
1,Q1-1980,10.0,15.065275,..
2,Q2-1980,1.1,12.668901,..
3,Q3-1980,8.7,9.823152,..
4,Q4-1980,19.3,15.852826,..
...,...,...,...,...
172,Q4-2022,7.2,3.653370,87.2641525268555
173,Q1-2023,6.6,4.514556,87.7358474731445
174,Q2-2023,4.3,4.988132,87.7358474731445
175,Q3-2023,7.7,5.259239,87.7358474731445
176,Q4-2023,4.8,5.330000,87.7358474731445

In [21]:
monthly_fed_balance = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/monthly_fed_balance.csv')

In [22]:
PCECTPI = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/PCECTPI_quarterly.csv')

In [23]:
monthly_fed_balance

    observation_date    MTSDS133FMS
0         1980-10-01  -16921.000000
1         1980-11-01   -8907.000000
2         1980-12-01   -1965.000000
3         1981-01-01  -12192.000000
4         1981-02-01  -15620.000000
..               ...            ...
525       2024-07-01 -243741.087297
526       2024-08-01 -380080.405435
527       2024-09-01   64263.008868
528       2024-10-01 -257450.343192
529       2024-11-01 -366763.064368

[530 rows x 2 columns]

In [27]:
monthly_fed_balance['date'] = pd.to_datetime(monthly_fed_balance['observation_date'])

In [29]:
monthly_fed_balance['year'] = monthly_fed_balance['date'].dt.year

In [30]:
monthly_fed_balance['quarter'] = 'Q' + monthly_fed_balance['date'].dt.quarter.astype(str)

In [32]:
monthly_fed_balance['quarter'] = monthly_fed_balance['quarter'].astype(str) + '-' + monthly_fed_balance['year'].astype(str)

In [35]:
monthly_fed_balance.drop(columns = ['date', 'year', 'observation_date'], inplace =True)

In [37]:
monthly_fed_balance.rename(columns = {'MTSDS133FMS':'monthly_fed_balance'}, inplace = True)

In [38]:
monthly_fed_balance

     monthly_fed_balance  quarter
0          -16921.000000  Q4-1980
1           -8907.000000  Q4-1980
2           -1965.000000  Q4-1980
3          -12192.000000  Q1-1981
4          -15620.000000  Q1-1981
..                   ...      ...
525       -243741.087297  Q3-2024
526       -380080.405435  Q3-2024
527         64263.008868  Q3-2024
528       -257450.343192  Q4-2024
529       -366763.064368  Q4-2024

[530 rows x 2 columns]

In [24]:
PCECTPI

     quarter  PCECTPI
0    Q1-1947   11.557
1    Q2-1947   11.649
2    Q3-1947   11.866
3    Q4-1947   12.162
4    Q1-1948   12.297
..       ...      ...
306  Q3-2023  120.983
307  Q4-2023  121.480
308  Q1-2024  122.507
309  Q2-2024  123.275
310  Q3-2024  123.747

[311 rows x 2 columns]

In [25]:
merged_1 = pd.merge(merged_1,PCECTPI, on = 'quarter')

In [39]:
merged_1 = pd.merge(merged_1,monthly_fed_balance, on = 'quarter')

In [40]:
merged_1

,quarter,gdp_percentage_change_prev_q,fed_fund_rate,gov_effectiveness_perc_rank,PCECTPI,monthly_fed_balance
0,Q4-1980,19.3,15.852826,..,40.338,-16921.000000
1,Q4-1980,19.3,15.852826,..,40.338,-8907.000000
2,Q4-1980,19.3,15.852826,..,40.338,-1965.000000
3,Q1-1981,19.9,16.595556,..,41.384,-12192.000000
4,Q1-1981,19.9,16.595556,..,41.384,-15620.000000
...,...,...,...,...,...,...
514,Q3-2023,7.7,5.259239,87.7358474731445,120.983,89255.572694
515,Q3-2023,7.7,5.259239,87.7358474731445,120.983,-170982.200875
516,Q4-2023,4.8,5.330000,87.7358474731445,121.480,-66563.551130
517,Q4-2023,4.8,5.330000,87.7358474731445,121.480,-314012.002287
518,Q4-2023,4.8,5.330000,87.7358474731445,121.480,-129365.414920

In [41]:
political_stability = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/Political_Stability_USA.csv')
producer_price_index = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/producer_price_index_quarterly.csv')
target_us = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/target_us.csv')

Preparing for merge

In [43]:
political_stability.rename(columns= {'Value' : 'political_stability_perc_rank'}, inplace = True)

In [45]:
political_stability.drop(columns = 'Country Name', inplace = True)

In [48]:
target_us.drop(columns = 'Unnamed: 0', inplace = True)

In [51]:
target_us.rename(columns= {'Quarter' : 'quarter'}, inplace = True)

In [52]:
merged_1 = pd.merge(merged_1,target_us, on = 'quarter')

In [54]:
merged_1 = pd.merge(merged_1,political_stability, on = 'quarter')

In [55]:
merged_1

,quarter,gdp_percentage_change_prev_q,fed_fund_rate,gov_effectiveness_perc_rank,PCECTPI,monthly_fed_balance,Bond Rating,political_stability_perc_rank
0,Q1-2000,4.2,5.677692,91.8032760620117,73.219,62152.000000,AA,82.539680480957
1,Q1-2000,4.2,5.677692,91.8032760620117,73.219,-41734.000000,AA,82.539680480957
2,Q1-2000,4.2,5.677692,91.8032760620117,73.219,-35380.000000,AA,82.539680480957
3,Q2-2000,10.2,6.271978,91.8032760620117,73.568,159497.000000,AA,82.539680480957
4,Q2-2000,10.2,6.271978,91.8032760620117,73.568,-3611.000000,AA,82.539680480957
...,...,...,...,...,...,...,...,...
283,Q3-2023,7.7,5.259239,87.7358474731445,120.983,89255.572694,AAA,47.3933639526367
284,Q3-2023,7.7,5.259239,87.7358474731445,120.983,-170982.200875,AAA,47.3933639526367
285,Q4-2023,4.8,5.330000,87.7358474731445,121.480,-66563.551130,AAA,47.3933639526367
286,Q4-2023,4.8,5.330000,87.7358474731445,121.480,-314012.002287,AAA,47.3933639526367
287,Q4-2023,4.8,5.330000,87.7358474731445,121.480,-129365.414920,AAA,47.3933639526367

In [ ]:
merged_1 = pd.merge(merged_1,producer_price_index, on = 'quarter')

preparing last three CSV

In [58]:
tax_rev_perc_gdp = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/tax_rev_perc_gdp.csv')
unemployment_cost_index = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/unemployment_cost_index_quarterly.csv')
unemployment_rate = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/unemployment_rate_quarterly.csv')

Preparing df for merge

In [61]:
tax_rev_perc_gdp.rename(columns = {'Value': "tax_rev_perc_gdp"}, inplace = True)

In [63]:
tax_rev_perc_gdp.drop(columns = 'Country Name', inplace = True)

In [66]:
merged_1 = pd.merge(merged_1,tax_rev_perc_gdp, on = 'quarter')

In [68]:
merged_1 = pd.merge(merged_1,unemployment_cost_index, on = 'quarter')

In [70]:
merged_1 = pd.merge(merged_1,unemployment_rate, on = 'quarter')

In [71]:
merged_1

,quarter,gdp_percentage_change_prev_q,fed_fund_rate,gov_effectiveness_perc_rank,PCECTPI,monthly_fed_balance,Bond Rating,political_stability_perc_rank,producer_price,tax_rev_perc_gdp,employment_cost,unemployment_rate
0,Q1-2001,1.3,5.597000,..,75.012,76379.000000,AA,..,137.766667,11.857705,84.7,4.233333
1,Q1-2001,1.3,5.597000,..,75.012,-48168.000000,AA,..,137.766667,11.857705,84.7,4.233333
2,Q1-2001,1.3,5.597000,..,75.012,-50662.000000,AA,..,137.766667,11.857705,84.7,4.233333
3,Q2-2001,5.0,4.326703,..,75.363,189796.000000,A,..,136.233333,11.857705,85.5,4.400000
4,Q2-2001,5.0,4.326703,..,75.363,-27919.000000,A,..,136.233333,11.857705,85.5,4.400000
...,...,...,...,...,...,...,...,...,...,...,...,...
271,Q3-2023,7.7,5.259239,87.7358474731445,120.983,89255.572694,AAA,47.3933639526367,256.816333,10.223807,160.6,3.666667
272,Q3-2023,7.7,5.259239,87.7358474731445,120.983,-170982.200875,AAA,47.3933639526367,256.816333,10.223807,160.6,3.666667
273,Q4-2023,4.8,5.330000,87.7358474731445,121.480,-66563.551130,AAA,47.3933639526367,252.638000,10.223807,162.1,3.800000
274,Q4-2023,4.8,5.330000,87.7358474731445,121.480,-314012.002287,AAA,47.3933639526367,252.638000,10.223807,162.1,3.800000
275,Q4-2023,4.8,5.330000,87.7358474731445,121.480,-129365.414920,AAA,47.3933639526367,252.638000,10.223807,162.1,3.800000

In [ ]:
Federal_Debt_FED_perc_gdp = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/Federal_Debt_FED_perc_gdp.csv')
federal_debt_foreign_investors = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/federal_debt_foreign_investors.csv')
federal_debt_private_investors_perc_gdp = pd.read_csv('/Users/andreabordon/Documents/GitHub/risk_and_fraud/US_Datasets/federal_debt_private_investors_perc_gdp.csv')

In [ ]:
federal_debt_foreign_investors.drop(columns = 'Unnamed: 0', inplace =True)

In [79]:
federal_debt_private_investors_perc_gdp.drop(columns = 'Unnamed: 0', inplace =True)

In [75]:
Federal_Debt_FED_perc_gdp

     Unnamed: 0  Federal_Debt_FED_perc_GDP  quarter
0             0                    5.30822  Q1-1970
1             1                    5.40579  Q2-1970
2             2                    5.52456  Q3-1970
3             3                    5.70453  Q4-1970
4             4                    5.65561  Q1-1971
..          ...                        ...      ...
214         214                   19.13765  Q3-2023
215         215                   18.51413  Q4-2023
216         216                   17.43728  Q1-2024
217         217                   16.58989  Q2-2024
218         218                   16.04762  Q3-2024

[219 rows x 3 columns]

In [73]:
merged_1 = pd.merge(merged_1,Federal_Debt_FED_perc_gdp, on = 'quarter')

In [76]:
merged_1.drop(columns = 'Unnamed: 0', inplace =True)

In [80]:
merged_1 = pd.merge(merged_1,federal_debt_foreign_investors, on = 'quarter')

In [82]:
merged_1 = pd.merge(merged_1,federal_debt_private_investors_perc_gdp, on = 'quarter')

In [83]:
merged_1

,quarter,gdp_percentage_change_prev_q,fed_fund_rate,gov_effectiveness_perc_rank,PCECTPI,monthly_fed_balance,Bond Rating,political_stability_perc_rank,producer_price,tax_rev_perc_gdp,employment_cost,unemployment_rate,Federal_Debt_FED_perc_GDP,federal_debt_foreign_investors,federal_debt_private_investors_perc_gdp
0,Q1-2001,1.3,5.597000,..,75.012,76379.000000,AA,..,137.766667,11.857705,84.7,4.233333,5.00371,1012.5,27.62881
1,Q1-2001,1.3,5.597000,..,75.012,-48168.000000,AA,..,137.766667,11.857705,84.7,4.233333,5.00371,1012.5,27.62881
2,Q1-2001,1.3,5.597000,..,75.012,-50662.000000,AA,..,137.766667,11.857705,84.7,4.233333,5.00371,1012.5,27.62881
3,Q2-2001,5.0,4.326703,..,75.363,189796.000000,A,..,136.233333,11.857705,85.5,4.400000,5.04859,983.3,25.68733
4,Q2-2001,5.0,4.326703,..,75.363,-27919.000000,A,..,136.233333,11.857705,85.5,4.400000,5.04859,983.3,25.68733
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,Q3-2023,7.7,5.259239,87.7358474731445,120.983,89255.572694,AAA,47.3933639526367,256.816333,10.223807,160.6,3.666667,19.13765,7515.1,76.43604
272,Q3-2023,7.7,5.259239,87.7358474731445,120.983,-170982.200875,AAA,47.3933639526367,256.816333,10.223807,160.6,3.666667,19.13765,7515.1,76.43604
273,Q4-2023,4.8,5.330000,87.7358474731445,121.480,-66563.551130,AAA,47.3933639526367,252.638000,10.223807,162.1,3.800000,18.51413,7944.4,78.28896
274,Q4-2023,4.8,5.330000,87.7358474731445,121.480,-314012.002287,AAA,47.3933639526367,252.638000,10.223807,162.1,3.800000,18.51413,7944.4,78.28896
275,Q4-2023,4.8,5.330000,87.7358474731445,121.480,-129365.414920,AAA,47.3933639526367,252.638000,10.223807,162.1,3.800000,18.51413,7944.4,78.28896